.vscode
.DS_Store
*.o
megaphone
phonebook
*.log
sed
violence
braiiinz
moar_braiinz
brain
*.txt
harl
harlFilter
fclean.sh
test.*
Fixed
*.md
.idea
ClapTrap
ScavTrap
FragTrap
DiamondTrap
mine.js
poly
learn.cpp
a.out
bureaucrat